<%= page_title(t('.title'))%>
<div class="my-5">
  <%= button_link 'Adicionar Ator', new_actor_path %>
</div>
<table id="movie-theaters-table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <th scope="col" class="px-3 py-3">Nome</th>
    <th scope="col" class="px-6 py-3">Data de Nascimento</th>
    <th scope="col" class="px-6 py-3">Nacionalidade</th>
  </thead>
  <tbody>
    <% @actors.each do |actor| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= link_to actor.name, actor, class: "text-blue-600 dark:text-blue-500 hover:underline" %>
        </td>
        <td class="px-6 py-4">
          <%= actor.date_of_birth %>
        </td>
        <td class="px-6 py-4">
          <%= actor.nationality %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>